//- Inline pane editor panel (no modal overlay)
.pane-details
  .pane-details-header
    span.pane-details-title
      i.fas.fa-terminal
      |  Pane Configuration
    span.pane-details-close((click)='onCancel()')
      i.fas.fa-xmark
      |  Close

  .pane-form
    .form-group
      label Profile
      select.form-control([(ngModel)]='editedPane.profileId')
        option(value='') -- Select Profile --
        option(*ngFor='let profile of profiles', [value]='profile.id')
          | {{ profile.name }}

    .form-group
      label Working Directory
      input.form-control(
        type='text',
        [(ngModel)]='editedPane.cwd',
        placeholder='C:\\path\\to\\project'
      )

    .form-group
      label Tab Title
      input.form-control(
        type='text',
        [(ngModel)]='editedPane.title',
        placeholder='Optional'
      )

    .form-group
      label Startup Command
      input.form-control(
        type='text',
        [(ngModel)]='editedPane.startupCommand',
        placeholder='e.g., npm run dev'
      )

  .pane-form-actions
    button.btn.btn-ghost(type='button', (click)='onCancel()')
      i.fas.fa-xmark
      |  Cancel
    button.btn.btn-primary(type='button', (click)='onSave()')
      i.fas.fa-check
      |  Apply
