.split-preview([class.horizontal]='split.orientation === "horizontal"', [class.vertical]='split.orientation === "vertical"', [class.nested]='depth > 0')
  ng-container(*ngFor='let child of split.children; let i = index')
    //- Resize handle between children
    .resize-handle(
      *ngIf='i > 0',
      [class.horizontal]='split.orientation === "horizontal"',
      [class.vertical]='split.orientation === "vertical"',
      [class.dragging]='resizing && resizeIndex === i - 1',
      (mousedown)='onResizeStart($event, i - 1)'
    )

    //- Pane
    .preview-pane(
      *ngIf='isPane(child)',
      [style.flex-basis]='getFlexStyle(i)',
      [class.selected]='asPane(child).id === selectedPaneId',
      (click)='onPaneClick(asPane(child)); $event.stopPropagation()',
      (contextmenu)='onContextMenu($event, asPane(child))'
    )
      .pane-content
        .pane-title
          span.pane-name(*ngIf='asPane(child).name') {{ asPane(child).name }}
          span.pane-sep(*ngIf='asPane(child).name')  -
          span.pane-profile {{ getPaneLabel(asPane(child)) }}
        .pane-path(*ngIf='asPane(child).cwd') {{ asPane(child).cwd }}
        .pane-command(*ngIf='asPane(child).startupCommand')
          i.fas.fa-terminal
          |  {{ asPane(child).startupCommand }}
      .pane-dimensions
        span.dim-label W:
        span.dim-value {{ getPaneGlobalWidth(i) }}
        span.dim-sep
        span.dim-label H:
        span.dim-value {{ getPaneGlobalHeight(i) }}

    //- Nested split
    split-preview(
      *ngIf='isSplit(child)',
      [split]='asSplit(child)',
      [depth]='depth + 1',
      [selectedPaneId]='selectedPaneId',
      [profiles]='profiles',
      [globalWidthRatio]='getChildGlobalWidth(i)',
      [globalHeightRatio]='getChildGlobalHeight(i)',
      [style.flex-basis]='getFlexStyle(i)',
      (paneEdit)='onNestedPaneEdit($event)',
      (splitHorizontal)='onNestedSplitH($event)',
      (splitVertical)='onNestedSplitV($event)',
      (addLeft)='onNestedAddLeft($event)',
      (addRight)='onNestedAddRight($event)',
      (addTop)='onNestedAddTop($event)',
      (addBottom)='onNestedAddBottom($event)',
      (removePane)='onNestedRemove($event)',
      (ratioChange)='onNestedRatioChange()',
      (resizeEnd)='onNestedResizeEnd()'
    )

//- Context menu
.context-menu-overlay(
  *ngIf='contextMenuPane',
  (click)='closeContextMenu()'
)
  .context-menu(
    [style.left.px]='contextMenuPosition.x',
    [style.top.px]='contextMenuPosition.y',
    (click)='$event.stopPropagation()'
  )
    button.context-menu-item(type='button', (click)='onEdit()')
      i.fas.fa-pen
      |  Edit
    .context-menu-divider
    button.context-menu-item(type='button', (click)='onSplitH()')
      i.fas.fa-arrows-alt-h
      |  Split Horizontal
    button.context-menu-item(type='button', (click)='onSplitV()')
      i.fas.fa-arrows-alt-v
      |  Split Vertical
    .context-menu-divider
    button.context-menu-item(type='button', (click)='onAddLeft()')
      i.fas.fa-caret-left
      |  Add Left
    button.context-menu-item(type='button', (click)='onAddRight()')
      i.fas.fa-caret-right
      |  Add Right
    button.context-menu-item(type='button', (click)='onAddTop()')
      i.fas.fa-caret-up
      |  Add Top
    button.context-menu-item(type='button', (click)='onAddBottom()')
      i.fas.fa-caret-down
      |  Add Bottom
    .context-menu-divider
    button.context-menu-item.danger(type='button', (click)='onRemove()')
      i.fas.fa-trash
      |  Remove Pane
