.split-preview([class.horizontal]='split.orientation === "horizontal"', [class.vertical]='split.orientation === "vertical"', [class.nested]='depth > 0')
  ng-container(*ngFor='let child of split.children; let i = index')
    //- Pane
    .preview-pane(
      *ngIf='isPane(child)',
      [style.flex-basis]='getFlexStyle(i)',
      [class.selected]='asPane(child).id === selectedPaneId',
      (click)='onPaneClick(asPane(child)); $event.stopPropagation()',
      (dblclick)='onEditClick($event, asPane(child))',
      (contextmenu)='onContextMenu($event, asPane(child))'
    )
      .pane-content
        .pane-label
          | {{ getPaneLabel(asPane(child)) }}
        .pane-details
          .pane-detail(*ngIf='asPane(child).cwd', [title]='asPane(child).cwd')
            i.fas.fa-folder
            span {{ truncate(asPane(child).cwd, 20) }}
          .pane-detail(*ngIf='asPane(child).startupCommand', [title]='asPane(child).startupCommand')
            i.fas.fa-terminal
            span {{ truncate(asPane(child).startupCommand, 20) }}

      button.pane-edit-btn(
        type='button',
        (click)='onEditClick($event, asPane(child))',
        title='Edit pane'
      )
        i.fas.fa-pen

    //- Nested split
    split-preview(
      *ngIf='isSplit(child)',
      [split]='asSplit(child)',
      [depth]='depth + 1',
      [selectedPaneId]='selectedPaneId',
      [profiles]='profiles',
      [style.flex-basis]='getFlexStyle(i)',
      (paneSelect)='onNestedPaneSelect($event)',
      (paneEdit)='onNestedPaneEdit($event)',
      (splitHorizontal)='onNestedSplitH($event)',
      (splitVertical)='onNestedSplitV($event)',
      (addLeft)='onNestedAddLeft($event)',
      (addRight)='onNestedAddRight($event)',
      (addTop)='onNestedAddTop($event)',
      (addBottom)='onNestedAddBottom($event)',
      (removePane)='onNestedRemove($event)'
    )

//- Context menu
.context-menu-overlay(
  *ngIf='contextMenuPane',
  (click)='closeContextMenu()'
)
  .context-menu(
    [style.left.px]='contextMenuPosition.x',
    [style.top.px]='contextMenuPosition.y',
    (click)='$event.stopPropagation()'
  )
    button.context-menu-item(type='button', (click)='onEdit()')
      i.fas.fa-pen
      |  Edit
    .context-menu-divider
    button.context-menu-item(type='button', (click)='onSplitH()')
      i.fas.fa-arrows-alt-h
      |  Split Horizontal
    button.context-menu-item(type='button', (click)='onSplitV()')
      i.fas.fa-arrows-alt-v
      |  Split Vertical
    .context-menu-divider
    button.context-menu-item(type='button', (click)='onAddLeft()')
      i.fas.fa-caret-left
      |  Add Left
    button.context-menu-item(type='button', (click)='onAddRight()')
      i.fas.fa-caret-right
      |  Add Right
    button.context-menu-item(type='button', (click)='onAddTop()')
      i.fas.fa-caret-up
      |  Add Top
    button.context-menu-item(type='button', (click)='onAddBottom()')
      i.fas.fa-caret-down
      |  Add Bottom
    .context-menu-divider
    button.context-menu-item.danger(type='button', (click)='onRemove()')
      i.fas.fa-trash
      |  Remove Pane
