.workspace-list-container
  .workspace-list-header
    h3 Workspace Editor
    button.btn.btn-primary(type='button', (click)='createWorkspace()')
      i.fas.fa-plus
      |  New Workspace

  //- Inline editor (above list)
  workspace-editor(
    *ngIf='editingWorkspace',
    [workspace]='editingWorkspace',
    [inline]='true',
    (save)='onEditorSave($event)',
    (cancel)='onEditorCancel()'
  )

  //- Workspace list
  .workspace-list(*ngIf='workspaces.length > 0')
    .workspace-item(
      *ngFor='let workspace of workspaces',
      [class.selected]='isSelected(workspace)',
      (click)='selectWorkspace(workspace)'
    )
      .workspace-info
        .workspace-icon([style.color]='workspace.color')
          i.fas([class]='"fa-" + (workspace.icon || "columns")')
        .workspace-details
          .workspace-name {{ workspace.name }}
          .workspace-meta
            span {{ getPaneCount(workspace) }} panes
            span.separator &middot;
            span {{ getOrientationLabel(workspace) }}
            span.separator(*ngIf='workspace.isDefault') &middot;
            span.badge.badge-primary(*ngIf='workspace.isDefault') default

      .workspace-actions
        button.btn.btn-link(
          type='button',
          title='Set as default',
          (click)='setAsDefault(workspace); $event.stopPropagation()',
          [class.active]='workspace.isDefault'
        )
          i.fas.fa-star
        button.btn.btn-link(type='button', title='Duplicate', (click)='duplicateWorkspace(workspace); $event.stopPropagation()')
          i.fas.fa-copy
        button.btn.btn-link.text-danger(type='button', title='Delete', (click)='deleteWorkspace(workspace); $event.stopPropagation()')
          i.fas.fa-trash

  //- Empty state
  .workspace-empty(*ngIf='workspaces.length === 0 && !isCreatingNew')
    p No workspaces configured yet.
    p Click "New Workspace" to create your first split-layout workspace.
