//- Inline workspace editor
.workspace-editor-inline
  .editor-body
    ng-container(*ngTemplateOutlet='editorContent')

  .editor-footer
    label.startup-checkbox
      input(type='checkbox', [(ngModel)]='workspace.isDefault')
      |  Launch on startup
    .editor-actions
      button.btn.btn-secondary.btn-sm(type='button', (click)='onCancel()') Cancel
      button.btn.btn-primary.btn-sm(type='button', (click)='onSave()', [disabled]='!workspace.name?.trim()')
        i.fas.fa-save
        |  Save
      button.btn.btn-success.btn-sm(type='button', (click)='onRun()', [disabled]='!workspace.name?.trim() || isRunning')
        i.fas([class]='isRunning ? "fa-spinner fa-spin" : "fa-play"')
        |  {{ isRunning ? 'Running...' : 'Run' }}

//- Shared editor content
ng-template(#editorContent)
  //- Top row: Color picker, Name input, Icon grid
  .editor-top-row
    .color-picker
      input.color-input(
        type='color',
        [(ngModel)]='workspace.color',
        title='Workspace color'
      )

    input.name-input(
      #nameInput,
      type='text',
      [(ngModel)]='workspace.name',
      placeholder='Workspace name'
    )

    .icon-picker
      button.icon-trigger(
        type='button',
        [style.color]='workspace.color',
        (click)='toggleIconDropdown()',
        title='Select icon'
      )
        i.fas([class]='"fa-" + workspace.icon')

      .icon-dropdown(*ngIf='iconDropdownOpen')
        button.icon-option(
          *ngFor='let icon of availableIcons',
          type='button',
          [class.selected]='workspace.icon === icon',
          [style.color]='workspace.icon === icon ? workspace.color : null',
          (click)='selectIcon(icon)'
        )
          i.fas([class]='"fa-" + icon')

  //- Layout section
  .layout-section
    .layout-header
      span.layout-title Layout
      .orientation-toggle
        button.btn.btn-xs(
          type='button',
          [class.active]='workspace.root.orientation === "horizontal"',
          (click)='setOrientation("horizontal")',
          title='Horizontal split'
        )
          i.fas.fa-arrows-alt-h
        button.btn.btn-xs(
          type='button',
          [class.active]='workspace.root.orientation === "vertical"',
          (click)='setOrientation("vertical")',
          title='Vertical split'
        )
          i.fas.fa-arrows-alt-v

    .layout-preview-container
      split-preview(
        [split]='workspace.root',
        (paneClick)='selectPane($event)',
        (splitHorizontal)='splitPane($event, "horizontal")',
        (splitVertical)='splitPane($event, "vertical")',
        (removePane)='removePane($event)'
      )

//- Pane editor (always modal)
pane-editor(
  *ngIf='showPaneEditor && selectedPane',
  [pane]='selectedPane',
  [profiles]='profiles',
  (save)='onPaneSave($event)',
  (cancel)='closePaneEditor()'
)
