//- Section 1: Workspace Settings
.editor-section
  .section-title
    i.fas.fa-cog
    |  Workspace Settings

  .form-row
    .form-group
      label Name
      input.form-control(
        #nameInput,
        type='text',
        [(ngModel)]='workspace.name',
        placeholder='Workspace name'
      )

    .form-group.auto-width
      label Icon
      .dropdown-trigger((click)='toggleIconDropdown()')
        span.dropdown-icon([style.color]='workspace.color')
          i.fas([class]='"fa-" + workspace.icon')
        span.dropdown-chevron
          i.fas.fa-chevron-down
      .icon-dropdown(*ngIf='iconDropdownOpen')
        button.icon-option(
          *ngFor='let icon of availableIcons',
          type='button',
          [class.selected]='workspace.icon === icon',
          [style.color]='workspace.icon === icon ? workspace.color : null',
          (click)='selectIcon(icon)'
        )
          i.fas([class]='"fa-" + icon')

    .form-group.auto-width
      label Color
      .color-trigger
        span.dropdown-color([style.background]='workspace.color')
        input.color-input-hidden(
          type='color',
          [(ngModel)]='workspace.color'
        )
        span.dropdown-chevron
          i.fas.fa-chevron-down

    .form-group.auto-width
      label Background
      .background-picker
        .background-trigger((click)='toggleBackgroundDropdown()')
          span.background-preview([style.background]='workspace.background?.value || "transparent"')
            i.fas.fa-ban(*ngIf='!workspace.background?.value')
          span.dropdown-chevron
            i.fas.fa-chevron-down
        .background-dropdown(*ngIf='backgroundDropdownOpen')
          .preset-grid
            button.preset-option(
              *ngFor='let preset of backgroundPresets',
              type='button',
              [class.selected]='isBackgroundSelected(preset)',
              [style.background]='preset.value || "var(--theme-bg)"',
              (click)='selectBackgroundPreset(preset)'
            )
              i.fas.fa-ban(*ngIf='preset.type === "none"')
          .custom-input-wrapper
            input.form-control.custom-bg-input(
              type='text',
              [(ngModel)]='customBackgroundValue',
              placeholder='Custom CSS gradient...',
              (blur)='applyCustomBackground()'
            )

//- Section 2: Split Layout
.editor-section.layout-section
  .section-title
    i.fas.fa-columns
    |  Split Layout

  .split-preview-container
    //- Preview toolbar
    .preview-toolbar
      button.preview-btn(
        type='button',
        title='Split Horizontal',
        [disabled]='!selectedPaneId',
        (click)='splitSelectedPane("horizontal")'
      )
        i.fas.fa-grip-lines-vertical
      button.preview-btn(
        type='button',
        title='Split Vertical',
        [disabled]='!selectedPaneId',
        (click)='splitSelectedPane("vertical")'
      )
        i.fas.fa-grip-lines
      span.toolbar-separator
      button.preview-btn(
        type='button',
        title='Add Left',
        [disabled]='!selectedPaneId',
        (click)='addPane("left")'
      )
        i.fas.fa-arrow-left
      button.preview-btn(
        type='button',
        title='Add Right',
        [disabled]='!selectedPaneId',
        (click)='addPane("right")'
      )
        i.fas.fa-arrow-right
      button.preview-btn(
        type='button',
        title='Add Top',
        [disabled]='!selectedPaneId',
        (click)='addPane("top")'
      )
        i.fas.fa-arrow-up
      button.preview-btn(
        type='button',
        title='Add Bottom',
        [disabled]='!selectedPaneId',
        (click)='addPane("bottom")'
      )
        i.fas.fa-arrow-down
      span.toolbar-separator
      button.preview-btn.danger(
        type='button',
        title='Remove pane',
        [disabled]='!selectedPaneId || !canRemovePane()',
        (click)='removeSelectedPane()'
      )
        i.fas.fa-trash

    //- Split preview
    .layout-preview((click)='onPreviewBackgroundClick()')
      split-preview(
        [split]='workspace.root',
        [selectedPaneId]='selectedPaneId',
        [profiles]='profiles',
        (paneEdit)='editPane($event)',
        (splitHorizontal)='splitPane($event, "horizontal")',
        (splitVertical)='splitPane($event, "vertical")',
        (addLeft)='addPaneFromEvent($event, "left")',
        (addRight)='addPaneFromEvent($event, "right")',
        (addTop)='addPaneFromEvent($event, "top")',
        (addBottom)='addPaneFromEvent($event, "bottom")',
        (removePane)='removePane($event)',
        (ratioChange)='onRatioChange()',
        (resizeEnd)='onResizeEnd()'
      )

    //- Inline pane editor
    pane-editor(
      *ngIf='showPaneEditor && editingPane',
      [pane]='editingPane',
      [profiles]='profiles',
      (close)='closePaneEditor()'
    )

//- Action buttons
.action-buttons
  .checkbox-group
    input(type='checkbox', [(ngModel)]='workspace.launchOnStartup', id='launchStartup')
    label(for='launchStartup') Launch on startup
  .action-buttons-right
    button.btn.btn-ghost(type='button', (click)='onCancel()')
      i.fas.fa-xmark
      |  Cancel
    button.btn.btn-success(
      type='button',
      (click)='onSave()',
      [disabled]='!workspace.name?.trim() || !hasUnsavedChanges'
    )
      i.fas.fa-check
      |  Save
      span.unsaved-indicator(*ngIf='hasUnsavedChanges') *
